@import "compass";
@import "mixins";

.push-notifications-portlet {
	textarea {
		@include box-sizing("border-box");

		width: 100%;
	}
}


.last{
	width: 15% !important;
}

.addApp-link {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 4px 10px 11px !important;
}
.navBarDevices{
	padding-top: 0px !important;
}

.nav-pills .control-group{
	margin-bottom: 18px !important;
}

.appVersionkey{
	width: 20%;
}

.appVersionStructure{
	width: 65%;
}